In [1]:
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import json
from get_plot import get_plot
from scipy import sparse


coords = json.load(open('coords.json'))
mpl.rcParams['figure.dpi'] = 120
# mpl.rcParams['savefig.pad_inches'] = 0


# This code is processed 
# I have manually processed every file using this format

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
xmin, xmax, ymin, ymax = (coords["limits"]["xmin"]), (coords["limits"]["xmax"]), (coords["limits"]["ymin"]), (coords["limits"]["ymax"])

# Matrix Size:
# Limits: [108:472, 95:692]

# y length
ylen = 472-108

# x length
xlen = 692-95

In [ ]:
from shapely.geometry import Point

d = {'col1': ['name1', 'name2'], 'geometry': [Point(xmin, ymin), Point(xmax, ymax)]}
gdf2 = gpd.GeoDataFrame(d, crs=3857)

In [ ]:
gdf2

    col1                          geometry
0  name1  POINT (-8953229.451 5559313.032)
1  name2  POINT (-6750696.015 6900707.257)

In [ ]:
gdf3 = gdf2.to_crs(4326)

In [ ]:
gdf3

    col1                    geometry
0  name1  POINT (-80.42823 44.60349)
1  name2  POINT (-60.64253 52.55283)